@import 'abacus/test';

html, body, .app {
  height: 100%;
  // font-family: 'Quicksand', sans-serif;
}

h3 {
  color: $body-color;
}

.btn {
  transition: all 0.3s ease-in-out;
}

.pageContainer {
  height: 100%;
}

.container {
  padding-top: 100px;
}
.error {
  color: red;
}

.display-2 {
  @include media-breakpoint-down(md) {
    font-size: 3.5rem;
  }
}



/*****   Navbar   *******/
.light-translucent {
  background-color: rgba(255, 255, 255, 0.82);
}

/*****   Banner   *******/
#banner {
  background: url('../images/banner.jpg') center center no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items:center;
  color: white;
  font-weight: 800;

  h1, h3 {
    color: white;
  }
  .fa {
    margin: 5% 0;
  }
  a .fa {
    color: white;
    &:hover {
      color: #ccc;
    }
  }

  // @include media-breakpoint-down(md){
  //   padding-top: 250px;
  // }
}

/***** End Banner *******/

/*****   About us   *******/
#about {
  .subContent {
    min-height: 300px;
    padding: 10px;
  }
  .tab {
    background-color: #1275A4;
    color: white;
    padding: 5px 15px;
    margin: 5px 10px;
  }
}

/*****   End About us   *******/

/*****   Social   *******/
#social {
  padding: 4.35em 0;
  .fa {
    width: 60px;
    height: 60px;
    text-align:center;
    padding: 12px 0;
    border-radius:10px;
    transition:all 0.5s ease-in-out;
    margin-top: 5px;
    font-size: 35px;
    color: #27a8c7;

    &:hover {
      color: white;
      background-color: #27a8c7;
    }
  }
}
